
@media (max-width: 1000px) {
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  }
  
  /* Untuk Smartphone */
  @media (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .btn {
      width:100%;
    }
    
    .contact {
      margin-bottom:10px;
      text-align: center;
    }

    .about {
        text-align:center;
    }

    .portfolio {
        text-align: center;
    }
    
    .top-wrapper {
      text-align:left;
      padding-top:130px;
    }
    
    .top-wrapper h1 {
        text-align: center;
        font-size: 40px;
    }

    .top-wrapper p {
        text-align: center;
    }
        

    
    } 
